body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 10px solid #03fcef6e;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  border-radius: 10%;
  box-shadow: 5px 5px 5px 5px #c28247;
  max-width: 900px;
  max-height: 500px;
  padding-top: 25px;
  margin: 30px auto;
}
.weather-app-wrapper{
  max-width: 600px;
  margin: 30px auto;
}

.search-form,
.search-button,
button {
  border: 2px solid #9c55b8;
  border-radius: 10px;
  color: #4a8ead;
  font-size: 18px;
  padding: 5px 20px;
}

.search-form {
  outline: 0;
  right: 45px;
}
.search-button,
button {
  box-shadow: 5px 5px 5px #519bfc;
  position: relative;
  right: 425px;
  bottom: 5px;
}
button {
  right: 285px;
  bottom: 45px;
}
.search-button:hover, button:hover {
  background: #aebec5e8;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.current-city {
  color: #0a0b52;
  font-size: 16px;
}

h1 {
  color: #0c0300bd;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135,135,135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter{
  text-transform: capitalize;
}


.weather-app{
  padding: 20px;
  border: 1px solid #9c55b8;
}
.overview{
  margin-bottom: 20px;
}
.weather-temperature{
  color: #6199b3;
  font-size: 25px;
  font-weight: 500;
  padding-top: 0;
  }

.weather-temperature img{
  margin-right: 5px;
  height: 64px;
  width: 64px;
  }
.weather-temperature strong{
  color:rgb(33,33,33);
  font-size: 60px;
  line-height: 1;
  font-weight: 300;
}
.weather-temperature .temp-units{
position: relative;
font-size: 16px;
top: -34px;
}
.weather-forcast{
  margin-top: 20px;
  text-align: center;
  color:#000;
}
.weather-forcast-date{
  font-size: 16px;
  opacity: 0.5;
}
.weather-forcast-temperature-min{
  opacity: 0.5;
}
.weather-forcast-temperature{
  font-size: 13px;
}
.weather-report {
  text-align: center;
  display: block;
  padding: 20px 0;
}
.temperature-today {
  color: #e7b053;
  font-size: 25px;
  font-weight: 500;
  padding-top: 0;
}
.temp-split {
  font-size: 16px;
  color: #1f1d1b;
}

/*.sunrise-sunset-times {
  font-size: 15px;
  padding: 30px 0;
  text-align: right;
  color: rgb(1, 1, 71);
  display: block;
  position: top;
}*/



